* {
    padding: 0px;
    margin: 0px;
    
}
@font-face{
    font-family: 'monument_valley_1.2regular';
    src: url('monumentvalley12-x55o-webfont.woff2') format('woff2'),
         url('monumentvalley12-x55o-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
    background: white;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', 'monument_valley_1.2regular';
    overflow-x: hidden;
}

/* HEADER */
.navigation
{
    overflow: hidden;
    margin: 10px 0px 10px 0px;
    list-style-type: none;
    position: fixed;
    top: -50px;
    text-align: center;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    z-index: 99;
    transition: 0.3s;
    padding: 3.3vh 0vh;
}

li
{
    display: inline-block;
    padding: 1vh;
    padding-top: 3vh;
    margin: 0vh 0vh;
    margin-left: 3vw;
}

a
 {
    color: #707070;
    text-decoration: none;
    font-size: 1.6vh;
}
a:hover
{
    opacity: 0.3;
}

/* LANDING PAGE*/

.Slideshow img 
{
    position: absolute;
}


.Slideshow-img
{
    opacity: 0;
    transition: ease-in-out  2s;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.show 
{
    opacity: 1;
}


.MyJourney
{
    position: relative;
    top: 10vh;
    display: flex;
    flex: wrap;
    color: #BFC9CD;
    text-shadow:  0vw 0vw 1vw  black;
    font-size: 7vw;
    font-family: monument_valley_1.2regular;
    font-weight: lighter;
    justify-content: center;
}

/* My Story*/

.titels
{
    position: relative;
    top: 80vh;
    display: flex;
    flex: wrap;
    color: #BFC9CD;
    font-size: 5vw;
    font-family: monument_valley_1.2regular;
    font-weight: lighter;
    justify-content: center;
    padding-top: 6vh;
    
}
.WBI
{
    position: relative;
    top: 80vh;
    background-color: #D8E9EF;
    background-image: url(Fotos/Gezin\ Seqoia\ trees.png);
    background-size: 19.6vw;
    background-repeat: no-repeat;
    padding-left: 7vw;
    padding-bottom:8.7vh ;
    margin-left: 10vw;
    margin-right: 10vw;
}


.WieBenIk
{
    font-size: 1.5vw;
    font-weight: normal;
    color: #707070;
    display: flex;
    flex: wrap;
    justify-content: left;
    padding-left: 14vw;
    padding-top: 2vh;
    margin-top: 5vh;
}

.WBIPar1
{
    font-weight: normal;
    color: #707070;
    padding-left: 16vw;
    margin-top: 1vw;
    font-size: 0.9vw;
}

.WBIPar2
{
    font-weight: normal;
    color: #707070;
    padding-left: 16vw;
    margin-top: 1vw;
    font-size: 0.9vw;
}
