* {
    padding: 0px;
    margin: 0px;
    
}

body
{
    background: white;
    color: rgb(0, 0, 0);
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; 
    overflow-x: hidden;
}

html
{
    scroll-behavior: smooth;
}

.navigation
{
    overflow: hidden;
    margin: 10px 0px 10px 0px;
    list-style-type: none;
    position: fixed;
    top: -5vh;
    text-align: center;
    left: 0px;
    background-color: rgb(245, 245, 245);
    width: 100vw;
    z-index: 99;
    transition: 0.3s;
    padding: 2vh 0vh;
    
}
.AA
{
    padding-top: 4vh;
}

li
{
    display: inline-block;
    padding: 1vh;
    padding-top: 3vh;
    margin: 0vh 0vh;
    margin-left: 3vw;
}

a
{
    color: #707070;
    text-decoration: none;
    font-size: 1rem;
}
a:hover
{
    opacity: 0.3;
}

.titels
{
    position: relative;
    display: flex;
    flex: wrap;
    color: #99b1bb;
    font-size: 5.3rem;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
    padding-top: 4%;
    
}
.lowerTitels
{
    position: relative;
    display: flex;
    flex: wrap;
    color: #99b1bb;
    font-size: 2.3em;
    font-weight: lighter;
    justify-content: center;
}

.IFRAME
{
    position: relative;
    left: 28vw;
    height: 80vh;
    width: 90vh;
    border: none;
}

.Reflectie
{
    position: relative;
    background-color: #D8E9EF;
    background-repeat: no-repeat;
    left: 25%;
    padding-left: 1%;
    padding-bottom: 2%;
    padding-right: 1%;
    margin-bottom: 5%;
    width: 51%;
}

.RET
{
    position: relative;
    font-size: 1.5rem;
    font-weight: normal;
    color: #707070;
    display: flex;
    flex: wrap;
    justify-content: left;
    padding-top: 2vh;
    margin-top: 5vh;
}

.REP1
{
    font-weight: normal;
    color: #707070;
    position: relative;
    margin-top: 0.5vw;
    font-size: 1rem;
}