* {
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family: medio;
    src: url(font/Medio.otf);
}

body
{
    background: white;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', medio;
    overflow-x: hidden;
}

/* HEADER */
.navigation
{
    overflow: hidden;
    margin: 10px 0px 10px 0px;
    list-style-type: none;
    position: fixed;
    top: -50px;
    text-align: center;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    z-index: 99;
    transition: 0.3s;
    padding: 32px 0px;
}

li
{
    display: inline-block;
    padding: 5px;
    padding-top: 3vh;
    margin: 0px 30px;
    margin-left: 3vw;
}

a
 {
    color: #707070;
    text-decoration: none;
}

/* LANDING PAGE*/

.LandingPage
{
    background-image: url(Fotos/Luca\ Waterfall.png); 
    background-size: 115%;
    padding: 50vh; 
    background-repeat: no-repeat; 
}

.MyJourney
{
    display: flex;
    flex: wrap;
    color: #BFC9CD;
    text-shadow: 5px 3px 6px black;
    font-size: 7vw;
    font-family: medio;
    justify-content: center;
    margin-top: -90vh;
    margin-bottom: 76vh;
}

